{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "tabWidth": 4,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "endOfLine": "auto"
}